# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/
.env

# Django
*.log
*.sqlite3
db.sqlite3

# Byte-compiled / optimized / DLL files
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints
